body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #0f0f1a;
  color: #f0e6d2;
}

.landing {
  height: 100vh;
  background-image: url('./img/green-background.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: rgba(15, 15, 26, 0.352);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  color: #e94560;
  text-shadow: 2px 2px #0f3460;
}

h1.title1 {
  margin-top: 0;
}

.title2 {
  font-size: 1.2rem;
  margin-top: -20px;
}

.logo {
  width: 250px;
}

.icon {
  width: 40px;
  vertical-align: middle;
  margin-left: 8px;
}

.hobbies-container, .product-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  color: #0c959d;
}

.img-hobbies, .img-product{
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.img-hobbies:hover, .img-product:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.hobbies-text, .product-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 0 280px 20px;
  color: #9a9791;
}

.img-hobbies-text, .img-product-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0 20px;
}

.img-section {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cost, .title3 {
  color: #7ab144;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-nav {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.tab-nav button {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.tab-nav button:hover {
  background-color: #ff2e63;
}

.social-links a {
  margin: 0 1rem;
  /* color: #f0e6d2; */
  color: #0c959d;
  background-color: #0d0d0d7b;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #e94560;
}

main {
  padding: 2rem;
  min-height: 60vh;
  background-color: #16213e;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #0f3460;
  font-size: 0.9rem;
}

/* MENU */

.content-nav {
  background-color: #0f3460;
  padding: 1rem;
  text-align: center;
}

.content-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.content-nav button {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.content-nav button:hover {
  background-color: #ff2e63;
}